*
!*/

!.gitignore
!CMakeLists.txt
!functions_impl/*
!functions/*
!bulk_http_asio.cpp
!bulk_http_hpx.cpp
!bulk_http_hpx_distributed_timing.cpp
!streaming_http_hpx.cpp
!wrk_empty.lua
!wrk_2MB.lua
!compute_verification/main.cpp
!compute_verification/makefile
!reverse_verification/main.cpp
!reverse_verification/makefile
!bandwidth_benchmarks/*
!nginx.conf
!microbench.cpp
!microbench_hpx.cpp
!workerd/*
!iperf/*
